@using RealEstateWebApp.UI.Components.Table
<div class="row">
    <div class="page-title-container">
        <div class="row">
            <!-- Title End -->
            <!-- Top Buttons Start -->
            <div class="d-flex align-items-start justify-content-end gap-4">
                <div class="input-group w-30">
                    <input type="text" class="form-control" @bind-value=@_filter >
                    <button class="btn btn-outline-primary" type="button" @onclick="ReloadData">@Localizer["Search"]</button>
                </div>
                <a class="btn btn-outline-primary btn-icon btn-icon-start w-100 w-md-auto" href="/admin/settings/category/new" role="button">
                    <i class="las la-plus"></i>
                    <span>Add New</span>
                </a>
            </div>
            <!-- Top Buttons End -->
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <Indicator Name="categories-settings" CssClass="table-scroll">
                <table class="table responsive nowrap table-hover table sortable-table">
                    <thead>
                    <tr>
                        <th>@Localizer["Title"]</th>
                        <th>@Localizer["RecordsCount"]</th>
                        <th>@Localizer["Type"]</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Categories == null)
                    {
                        <tr>
                                <td colspan="100%">@Localizer["No categories found"] </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var record in Categories)
                        {
                            <tr @onclick="@(async() => await OnRowClick.InvokeAsync(record.Id))" class=@(OnRowClick.HasDelegate ? "cursor-pointer":"")>
                                <td>@record.Title</td>
                                <td>@record.RecordsCount</td>
                                <td> 
                                    @{
                                        var rand = Random.Shared.Next(13);
                                        if(rand % 2 == 0)
                                        {
                                            <span class="badge bg-outline-success">
                                                Rent
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-outline-warning">
                                                Buy
                                            </span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </Indicator>
            <Pagination PaginationModel="@PaginationModel" OnStepClick="HandleStepClick"></Pagination>
        </div>
    </div>

</div>